{% extends 'IBazaarFrontendBundle::base.html.twig' %}
{% block content %}
<div class="jumbotron">
  <h1>¡Bienvenido a iBazaar!</h1>
  <p>Comienza a explorar la mejor selección de apps para iPhone y iPad:</p>
  <div class="row">
  	<div class="col-lg-10">
		<input class="form-control input-lg" type="text" placeholder="Introduce el nombre de una app">
  	</div>
  	<div class="col-lg-2">
  		<a class="btn btn-primary btn-lg" role="button">Buscar</a>
  	</div>
  </div>
</div>
<div class="row">
	<div class="col-lg-8">
		<h2>
			<ul id="tabsPanel" class="nav nav-tabs">
				<li>
					<a href="#downloads" data-toggle="tab">Más descargadas</a>
				</li>
				<li>
					<a href="#new" data-toggle="tab">Novedades</a>
				</li>
			</ul>
		</h2>
		<div class="col-lg-12 tab-content">
			<div class="tab-pane" id="downloads">
		  		{{ include('IBazaarFrontendBundle:Default:applist.html.twig', {'apps' : mostDownloadedApps}) }}
			</div>
			<div class="tab-pane" id="new">
				{{ include('IBazaarFrontendBundle:Default:applist.html.twig', {'apps' : lastApps}) }}
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<h2>Categorías</h2>
		{% for category in categories %}
		    <div class="col-lg-4"><h3><span class="label label-default col-lg-12">{{ category.name }}</span></h3></div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#tabsPanel a[href="#downloads"]').tab('show')
			$('#tabsPanel a').click(function (e) {
			  e.preventDefault()
			  $(this).tab('show');
			})
		});
	</script>
{% endblock %}