{% for app in apps %}
	<div class="panel panel-default">
		<div class="panel-body">
			{{ include('IBazaarFrontendBundle:App:row.html.twig', {'app' : app}) }}
		</div>
	</div>
{% else %}
	<h4>No hay resultados</h4>
{% endfor %}