{% extends 'IBazaarFrontendBundle::base.html.twig' %}
{% block content %}
<h1>Aplicaciones más descargadas</h1>
{{ include('IBazaarFrontendBundle:Default:applist.html.twig', {'apps' : apps}) }}

{% endblock %}