<div class="col-lg-8">
	{{ include('IBazaarFrontendBundle:App:list.html.twig', {'apps' : apps}) }}
</div>
<div class="col-lg-12 text-center">
	{{ pagerfanta(apps, 'twitter_bootstrap3', {'proximity': 2}) }}
</div>