{% extends 'IBazaarFrontendBundle::base.html.twig' %}
{% block content %}
	<div class="col-lg-12">
		<h1>Categorías</h1>
	</div>
	<div class="col-lg-9">
		<div class="row">
		{% for category in categories %}
		    <div class="col-lg-4">
		    	{{ include('IBazaarFrontendBundle:Category:element.html.twig', {'category' : category}) }}
		    </div>
		{% endfor %}
		</div>
	</div>
{% endblock %}