{% extends 'IBazaarFrontendBundle::base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<h1>Apps de la categoría "{{category.name}}"</h1>
			<p>{{category.description}}</p>
			{{ include('IBazaarFrontendBundle:App:paginatedList.html.twig', {'apps' : apps}) }}
		</div>
	</div>
{% endblock %}